{% overextends "base.html" %}


{% block top_block %}
    <div style="text-align:center;color:#fff;padding:3px 0 3px;width:100%;height:25px;background:#a00;">This site is currently in beta phase, and not secured. Emails are directed to a placeholder account. </div>
{% endblock %}


{% block footer_credits %}
<div class="row">
<p>
   This project is based on Froide, a free and open source project of the <a href="http://www.okfn.org">Open Knowledge Foundation</a>. If you want to support Froide, please visit their <a href="https://github.com/stefanw/froide">Github repository</a>.
</p>
</div>
<hr/>
{% endblock %}
